@use "../../styles/variables" as v;

.separator {
    position: relative;
    margin: calc(v.$seg-size * -0.2);
    width: calc(v.$seg-size * 0.995);
    height: calc(v.$seg-size * 2.025);

    &__segment {
        position: absolute;
        width: v.$seg-size;
        height: v.$seg-size;
        clip-path: polygon(50% 40%, 60% 50%, 50% 60%, 40% 50%);
        background: var(--segment-color);

        &--2 {
            transform: translateY(103%);
        }
    }
}

@media (max-width: 600px) {
    .separator {
        margin: calc(v.$seg-size-mobile * -0.2);
        width: calc(v.$seg-size-mobile * 0.995);
        height: calc(v.$seg-size-mobile * 2.025);

        &__segment {
            width: v.$seg-size-mobile;
            height: v.$seg-size-mobile;
        }
    }
}
