@use "./variables" as v;

[data-theme="light"] {
    --bg-color: #{v.$light-bg};
    --text-color: #{v.$light-font};
}

[data-theme="dark"] {
    --bg-color: #{v.$dark-bg};
    --text-color: #{v.$dark-font};
}

body {
    margin: 0;

    #root {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        box-sizing: border-box;
        background-color: var(--bg-color);
        color: var(--text-color);
        transition: background-color 0.5s ease, color 0.5s ease,
            border-color 0.5s ease;
    }
}
